[Unit]
Description=%(ServiceDescription)%
After=network.target network-online.target nss-lookup.target

[Service]
Type=notify
ExecStart=%(ExecutableFullName)% --daemon

[Install]
WantedBy=multi-user.target
